# Server Configuration
SERVER_HOST=
SERVER_PORT=

# Database Configuration
DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_TZ=

# JWT Configuration
JWT_KEY=
JWT_EXP=

# Marketplace Configuration
MARKETPLACE_BASE_URL=
MARKETPLACE_PARTNER_ID=
MARKETPLACE_SHOP_ID=
MARKETPLACE_REDIRECT_URL=
MARKETPLACE_PARTNER_KEY=