# Server Configuration
SERVER_HOST=localhost
SERVER_PORT=9000

# Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_NAME=wms-marketplace
DB_USER=postgres
DB_PASSWORD=postgres
DB_TZ=Asia/Jakarta

# JWT Configuration
JWT_KEY=secret
JWT_EXP=100

# Marketplace Configuration
MARKETPLACE_BASE_URL=https://fullstack-technical-test.suksescorp.co.id
MARKETPLACE_PARTNER_ID=992800
MARKETPLACE_SHOP_ID=shopee-123
MARKETPLACE_REDIRECT_URL=https://example.com/callback
MARKETPLACE_PARTNER_KEY=mock-secret-partner-key